*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 2px; */
}
body{
    background: linear-gradient(45deg ,#06010f,#290347);
    color: rgb(153, 153, 153);
}

.container{
    display: flex;  
    flex-direction: column;
    margin: 100px auto 0px;
    width: 900px;
    justify-content: space-between;
    /* align-items: ; */
    /* border: solid 1px; */
}




/* ABOUT ME SECTION */
.about-container{
    display: flex;
}
.left-main{
    /* border: solid 1px; */
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 80px;
}
.left-main > *{
    margin-bottom: 20px;
}
.left-main h2{
}
.left-main h4{
    color: rgb(153, 153, 153);
}
.left-main p{
    margin-bottom: 140px;
}
.profile-icon{
    display: flex;
}
.icon{
    margin-right: 30px;
    /* margin-top: 100px; */
    color: rgb(236, 236, 236);
    font-size: 40px;
}

.icon:hover{
    color: #4e20a1;
    transition: 100ms linear;
}

.right-main{
    display: flex;
    flex-direction: column;
    /* border: solid 2px; */
    width: 500px;
    align-items: right;
}
.right-main > *{
    text-align: left;
    margin-bottom: 15px;
}

.right-card-1 p{
    color: rgb(153, 153, 153);
    text-align: justify;
    line-height: 30px;
}
h2{
    font-size: 3rem;
    color: rgb(236, 236, 236);
}



/* EXPERIENCE SECTION */

.experience-container{
    flex-direction: column;
}
.experience-container > *{
    margin-bottom: 20px;
}
.experience-container h2{
    background-color: #21162e;
    width: fit-content;
    border-radius: 5px;
    box-shadow: -5px 5px 1px rgb(236, 236, 236);
}

/* DROP DOWN CONTENT */
/* Button styling */
.dropdown-btn {
    background-color: #21162e;
    box-shadow: 5px 5px 5px#06010f;
    color: #ddd;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    height: 80px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-btn:hover {
    background-color: #4e20a1;
    transition: 150ms linear;
}

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    padding: 15px;
    background-color: #21162e;
    border-radius: 0 0 15px 15px;

    margin-top: -20px;
}

  /* Show the dropdown content when clicked */
.show {
    display: block;
} 

.caret{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #fff;
    transition: 0.3s;
    margin-right: 30px;
    border-radius: 2px;
}

.dropdown-subcontainer{
    display: flex;
    align-items: center;
}
.dropdown-subcontainer > *{
    margin-right: 20px;
}
.dropdown-content ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.dropdown-content ul li{
    margin-top: 20px;
}

.experience-location-date{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}





/* TECHNICAL SKILL SECTION */
.technical{
    margin-top: 100px;
    text-align: center;
}
.skill-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.skill-grid > *{
    text-align: center;
    margin: 20px;

}
.skill-grid p{
    font-size: 1rem;
}
.skill-grid i{
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.soft{
    margin: 100px auto 0;
    text-align: center;
}


.achievement-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.acheivement-card{
    margin-top: 20px;
}
